@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
   --dark: #080D18;
   --dark_blue: #15223E;
   --medium: #223664;
   --blue: #2E4A8B;
   --light_blue: #395EB3;
}

*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

html, body{
   background-color: #15223E;
   
   width: 100%;
   height: 100%;
}

.header{
   /* background-color: var(--medium); */
   width: 100%;
   margin: 30px;
}

.header h1{
   font-family: 'Montserrat', sans-serif;
   font-size: 42px;
   color: var(--blue);
}

.container{
   width: 100%;
   margin: 40px;
   height: 100%;

   display: inline;
}

.form, .notice{
   align-items: center;
   border: 2px solid var(--medium);

   padding: 10px;
   border-radius: 5%;
   width: 225px;
   height: 235px;

   margin: 10px;

   float: left;
}

#noticeInput{
   border: none;
   border-radius: 5%;

   padding: 12px 20px;

   width: 200px;
   height: 180px;
   align-content: top;

   font-family: 'Montserrat', sans-serif;
   font-size: 15px;

   text-decoration: none;

   resize: none;
}

#addBtn{
   width: 100%;
   border: 2px solid var(--blue);
   background-color: var(--blue);
   border-radius: 5px;

   color: var(--light_blue);
   padding: 5px;
   transition: 0.3s;
}

#addBtn:hover{
   border: 2px solid var(--light_blue);
   background-color: var(--medium);
}

.notice{
   float: left;
   font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   color: white;

   background-color: var(--dark_blue);
}

.notice p, h2{
   margin-right: 20px;
}

.buttons_bar{
   width:100%;
   vertical-align: bottom;
}

.buttons_bar__button{
   width:30px;
   height: 30px;
   opacity: 0.9;
   border-radius: 50%;
   margin: 2px;

   background-color: var(--medium);
   color: var(--light_blue);
   border: 2px solid var(--light_blue);

   transition: 0.2s;
}

.buttons_bar__button.hidden{
   opacity: 0;
   transform: translateY(200px);
}

.buttons_bar__button:hover{
   background-color: var(--dark_blue);
}

.wrapper{
   font-family: 'Poppins', sans-serif;
   
   align-items: center;

   padding: 10px;
   border-radius: 5%;
   width: 80%;
   height: 235px;

   margin: 10px;

   float:left;
}

.wrapper .toast{
   background-color: white;
   padding: 20px 15px 20px 20px;
   border-radius: 10px;
   border-left: 7px solid var(--light_blue);
   box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
   width: 430px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.toast .content{
   display: flex;
   align-items: center;
}

.content .icon{
   font-size: 25px;
   height: 50px;
   width: 50px;
   text-align: center;
   line-height: 50px;
   border-radius: 50%;
}

.content .details{
   margin-left: 15px;
}

.content .close-icon{
   cursor: pointer;

   font-size: 25px;
   height: 40px;
   width: 40px;
   text-align: center;
   line-height: 40px;
   border-radius: 50%;
}